/* Geral */
html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main:rgb(231, 226, 226);
  --rodape:black;
  --botao:rgb(143, 17, 17);
  --botao-hover:rgb(189, 9, 9);
  --text-botao:white;
  --titulo:black;
  --paragrafo:rgb(97, 97, 97);
}

section{
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 10px black;
}

body {
  background: var(--main);
  font-family: 'Poppins', sans-serif;
}

h2, h3{
  color: var(--titulo);
  font-family: 'Times New Roman', Times, serif;
}

p{
  color: var(--paragrafo);
  font-weight: 600;
}

button {
  width: 60px;
  height: 30px;
  border: none;
  background: var(--botao);
  color: var(--text-botao);
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px var(--botao);
  cursor: pointer;
  transition: .4s;
}

button:hover{
  background: var(--botao-hover);
  color: black;
}

#btnTopo {
  position: fixed;
  display: none;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 40px;
}

/* Nave Bar */
nav{
  background: var(--rodape);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  border-radius: 50%;
  width: 100px;
  padding: 10px;
}

.nav__ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding-right: 60px;
}

.nav__ul li a{
  text-decoration: none;
  color: var(--text-botao);
  font-size: 20px;
  transition: .5s;
}

.nav__ul li a:hover {
  color: var(--botao);
}

@media (max-width: 450px){
  .nav__ul{display: none;
  margin: 0;
  padding: 0;
  }
  nav {
    justify-content: center;
    background: none;
  }
  nav img{
    padding: 0;
    justify-content: center;
  }
}

/* Main */
#main{
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__img{
  padding-right: 50px;
  padding-top: 0;
  margin: none;
}
.main__img img{
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 0 15px black;
}

.main__text{
  font-weight: 600;
  justify-items: start;
}

.main__text h1{
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  justify-items: start;
  margin-left: 10px;
}

.main__text p{
  line-break: normal;
  width: 900px;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--paragrafo);
  margin-right: 50px;
  margin-left: 10px;
}

@media (max-width:450px){
   #main{
    height: 100%;
   }
   .main__container{
    display: block;
   }

   .main__img{
    justify-items: center;
    padding-left: 40px;
   }
   .main__img img{
    width: 300px;
    justify-items: center;
   }

   .main__text{
    justify-content: center;
    width: 400px;
    padding: 10px;
   }

   .main__text h1{
    font-size: 40px;
    line-break: normal;
    font-family: 'Times New Roman', Times, serif;
    justify-items: start;
   }

   .main__text p{
    font-size: 20px;
    line-break: normal;
    width: 300px;
   }
}

/* Sobre */
#sobre{
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding-top: 60px;
  height: 100%;
}

#sobre h2{
  font-size: 40px;
}

.sobre__container{
  display: flex;
  max-width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
}

.sobre__container img{
  width: 500px;
  height: 600px;
  border-radius: 15px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.sobre__textos{
  margin-left: 20px;
}

.sobre__texto{
  line-break: normal;
  width: 800px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.btn__sobre {
  width: auto;
}

@media (max-width:450px){
  #sobre{
    height: 100%;
  }
  .sobre__container{
    display: block;
    margin: auto;
    justify-items: center;
  }
  .sobre__container img{
    width: 300px;
    height: 300px;
    padding-left: 10px;
  }
  .sobre__texto{
  justify-content: center;
  width: 400px;
  }
  .sobre__texto h2{
    font-size: 10px;
  }
  .sobre__texto p{
    width: 300px;
  }
}

/* Parcerias */
#parceria {
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  padding-bottom: 60px;
}

#parceria h2{
  margin-top: 23px;
  font-size: 30px;
}

.parceria__container{
  margin-top: 20px;
  max-width: 100%;
  margin-left: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.parceria__container img{
  width: auto;
  height: 100px;
}

@media (max-width:450px){
  #parceria{
    height: auto;
  }
  .parceria__container img{
    height: 50px;
  }
}